{
  "presets": [
    ["env", {
      "modules": false
    }],
    "react",
    "es2017",
    "es2015-rollup"
  ],
  "plugins": ["transform-runtime", "external-helpers", "transform-object-rest-spread", "transform-es2015-destructuring", "transform-es2015-parameters", "transform-class-properties"]
}